.icono {
  height: 2.5rem;
  border-radius: 1.5rem;
  padding: 0.25rem 0 0 0.25rem;
}
.encabezamiento {
  height: 3rem;
  background-color: #04685a;
}
nav ul li a {
  font-size: 12px;
}
.imagenfondo {
  display: flex;
  width: 100%;
  background: url("/img/inicio/leoncito7.jpg") center top no-repeat;
  background-size: 100% auto;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  transition: width 5s;
}
.cargado {
  width: 102%;
}
.baseimagen {
  height: 783px;
}
.descripcion {
  font-family: Bradley Hand ITC;
  font-size: 35px;
  color: white;
  text-shadow: 1px 0 black;
  font-weight: 600;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.descripcionizq {
  flex-grow: 7;
  justify-content: left;
  text-align: left;
}
.descripcionder {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  text-align: right;
  align-items: flex-end;
}
.descripciondersup {
  display: flex;
  flex-grow: 2.3;
}
.descripcionderinf {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-weight: 600;
}
.numeral a,
.numeral a:active,
.numeral a:visited,
.numeral a:any-link {
  color: black;
}

.descripcionindividual {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
}
h3 {
  font-weight: 300;
}

.pie a,
.pie a:active,
.pie a:visited,
.pie a:any-link {
  color: white;
}

body {
  font-family: Roboto;
  font-size: 16px;
  background-color: #07b8a0;
  color: white;
  margin: 0;
}
.pie {
  flex-basis: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 12px;
  color: white;
  height: 3rem;
  background-color: #04685a;
  display: flex;
  height: 32rem;
}
.autora {
  color: red;
}
.telefono {
  flex: 1;
  justify-content: left;
  display: flex;
}
.telefonotelefono {
  width: 100%;
  text-align: left;
}
.politica {
  flex: 1;
  justify-content: center;
  display: flex;
}
.politica-privacidad {
  margin: 8rem;
}
.direccion {
  flex: 1;
  justify-content: right;
  display: flex;
}
.direcciondireccion {
  width: 100%;
  text-align: right;
}
.politicapolitica {
  width: 100%;
  text-align: center;
}
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s linear;
}
.oculto {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 0.3s linear;
}
.leoncito {
  width: 100%;
}
.derecha {
  float: right;
}
.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-right: 16px;
}
.menu ul li {
  display: inline;
}
.menu ul li a {
  text-decoration: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #fff;
}
.menu ul li a:hover,
.menu ul li a:active {
  color: burlywood;
}
.menu ul li a.activo {
  color: yellow;
}

.semueve:hover {
  box-shadow: 1px 1px #c0c0c0, 2px 2px #c0c0c0, 3px 3px #c0c0c0;
  transform: translateX(-8px);
  transition: all 10s;
}
.contenedoricono {
  width: 25%;
  float: left;
  display: flex;
}
.contenedortextolupa {
  width: 12.7%;
  float: left;
  display: flex;
  justify-content: right;
}
.contenedorlupa {
  width: 12.3%;
  float: left;
}
.textolupa {
  width: 10rem;
  background-color: lightgrey;
  background-color: transparent;
  color: lightgrey;
  border: 1px solid lightgrey;
  border-radius: 4px;
  margin-top: 14px;
  padding: 4px;
}
.botonlupa {
  background-color: transparent;
  color: lightgrey;
  margin-top: 12px;
  margin-left: 4px;
  padding: 4px;
  border: none;
}
.textolupa::placeholder {
  color: lightgrey;
}
.contenedormenu {
  width: 50%;
  float: left;
  padding-top: 1rem;
  text-align: right;
}
.clearer {
  clear: both;
}
.contenedor {
  display: flex;
  padding: 1.5rem 3rem 1.5rem 3rem;
  flex-wrap: wrap;
}
.contenedortexto {
  display: flex;
  padding: 1.5rem 3rem 1.5rem 3rem;
  flex-wrap: wrap;
}
.textofoto {
  width: 528px;
  padding: 16px;
  border: 1px solid #07b8a0;
  margin-bottom: 4px;
  border-radius: 8px;
}
.textotexto {
  margin-left: 4rem;
  width: 528px;
  padding: 16px;
  border: 1px solid #07b8a0;
  margin-bottom: 4px;
  border-radius: 8px;
}
.foto {
  width: 528px;
  padding: 16px;
  border: 1px solid #444444;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 8px;
  background-color: #ffffff;
  padding-bottom: 2px;
}
.foto-interior {
  width: 528px;
  border-radius: 6px;
}
.zoom {
  transition: 0.9s;
}
.zoom:hover {
  transform: scale(1.3);
}
.fotoderecha {
  width: 528px;
  padding: 16px;
  border: 1px solid #444444;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 8px;
  background-color: #ffffff;
  margin-left: 4rem;
}
.video {
  width: 528px;
  height: 299px;
}
.texto {
  width: 560px;
  margin-left: 4rem;
}
.titulo {
  margin: 1rem 0 0 1rem;
}
.formulario {
  display: flex;
  flex-direction: column;
}
.entrada {
  display: flex;
  align-content: space-between;
  margin-bottom: 1rem;
}
.prompt {
  flex: 3;
}
.input {
  flex: 7;
}
input {
  width: 100%;
}
.espaciador-pie {
  height: 16rem;
}
/* DiseÃ±o del indice del blog y de los articulos  */
.anecdotas {
  background-color: greenyellow;
  color: black;
}
.contenedorblog {
  display: flex;
}
.tips {
  background-color: rgb(231, 78, 61);
  color: white;
}
.tips-verde {
  background-color:#71e35d ;
  color: black;
}
.relatos {
  background-color:#4F9287 ;
  color: white;
}
.siderbarizq {
  flex: 2;
}
.siderbarder {
  flex: 2;
}
.contenedorindice {
  display: flex;
  flex: 4;
  flex-direction: column;
  background-color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
}
.entradablog:first-child {
  padding-top: 1rem;
}
.entradablog {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  background-color: white;
}
.miniatura {
  display: flex;
  flex: 1;
  justify-content: space-around;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}
.fotomin {
  object-fit: contain; /*preserva la relacion de aspecto*/
  width: 120px;
}
.ajusteverticaltop {
  vertical-align: top;
}
.descripcionindice {
  flex: 7;
  font-size: 12px;
  background-color: white;
  color: black;
  padding-left: 2rem;
  padding-right: 4rem;
}
.descripcionindice a {
  color: red;
  text-decoration: none;
}
.bordetransparente {
  border: transparent;
}

.gracias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  padding-bottom: 16rem;
}
.entrada-busqueda {
  display: flex;
  text-decoration: none;
  padding: 0rem 1rem 1rem 1rem;
}

.url-vinculo {
  color: blue;
  text-decoration: underline;
  font-size: 11px;
}
.vinculo {
  color: black;
  text-decoration: none;
}
a.vinculo {
  color: black;
}
.titulo-vinculo {
  font-size: 16px;
  padding-top: 0.2rem;
}
.parrafo-vinculo {
  padding-top: 0.2rem;
}

a.redes-sociales {
  font-size: 12px;
  text-decoration: none;
}

.contenedor-articulo {
  padding: 1rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
}

.contenedor-fila {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}
.contenedor-foto {
  width: 572px;
}
.leyenda {
  color: rgb(4, 4, 116);
  font-size: 16px;
  font-family: 'Satisfy', cursive;
  padding-left: 4px;
}
.borde-blanco {
  font-size: 5px;
  height: 14px;
  padding-left: 4px;
}
/* font-family: 'Satisfy', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Parisienne', cursive;
font-family: 'Marck Script', cursive;
font-family: 'Lovers Quarrel', cursive; */
.contenedor-texto {
  width: 572px;
}
.sin-padding-bottom {
  padding-bottom: 0;
}
.sin-padding-top {
  padding-top: 0;
}
.contenedor-espacio {
  width: 40px;
}
.texto-interior {
  padding: 17px;
}

.contenedoradmin {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
}
.siderbarizqadmin {
  flex-basis: 10%;
}
.siderbarderadmin {
  flex-basis: 10%;
}
.contenedorcomentarios {
  padding: 2rem 4rem;
  flex-basis: 75%;
  flex-direction: row;
  background-color: white;
  color: black;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.contenedorcarpetas {
  padding: 2rem 2rem;
  background-color: white;
  color: black;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.carp-fila {
  font-size: 13px;
}
.carp-titulo {
  width: 100%;
  text-align: left;
  margin-bottom: 4px;
}

.com-fila {
  display: flex;
  font-size: 13px;
  margin-bottom: 3px;
  justify-content: space-between;
}

.com-fila-plantilla {
  padding-bottom: 1rem;
  font-size: 13px;
}

.cabezal {
  font-weight: 900;
}
.com-articulo {
  flex: 2;
  padding-left: 4px;
  padding-right: 4px;
}
.com-origen {
  flex: 0.4;
  text-align: right;
  padding-right: 8px;
}
.com-id_comentario {
  flex: 0.4;
  text-align: right;
  padding-right: 8px;
}
.com-fecha {
  flex: 2;
}
.com-fecha-plantilla {
  flex: 2;
  font-size: smaller;
}
.com-carpeta {
  flex: 0.5;
  height: 1.2rem;
}
.com-asunto {
  flex: 3;
}
.com-usuario-fecha {
  margin-bottom: 4px;
}
.com-texto {
  flex: 7;
}
.com-usuario {
  flex: 0.5;
  text-align: right;
  padding-right: 8px;
}
.com-usuario-plantilla {
  flex: 0.5;
  margin-right: 1rem;
}
.com-boton-ok,
.com-boton-ok:active {
  background-color: #04685a;
  border-radius: 10px;
  color: white;
  height: 2rem;
  width: 3rem;
  border: 0;
  display: none;
}
.titulo-comentarios {
  text-align: left;
  width: 100%;
  font-weight: 300;
  font-size: 18.72px;
  padding-bottom: 1rem;
}
.pide-comentario {
  font-weight: 300;
  font-size: 18.72px;
  padding: 3rem;
  text-align: center;
}
.fondo-blanco {
  color: black;
  background-color: white;
}

.letra-negra {
  color: black;
}

.resultado-busqueda {
  margin-top: 0.8rem;
  font-size: 18px;
  margin-bottom: 0.2rem;
}

.oculta {
  display: none;
}

.entrada-busqueda {
  flex: 7;
  font-size: 12px;
  background-color: white;
  color: black;
  padding-left: 4rem;
  padding-right: 4rem;
}
.url-link a,
.url-link a:active,
.url-link a:visited,
.url-link a:any-link {
  color: blue;
  font-size: 14px;
}
.correte-usuario {
  padding-right: 4px; 
  padding-left: 5px;
}

